<!-- Replace ::text:: with your code -->
<h2>Create / Edit Course</h2>
<form [formGroup]="courseForm">
  <div class="app-plate">
    <div class="course">
      <h3>Main Info</h3>
      <div class="form__control">
        <label for="title">Title</label>
        <!--Use the name `title` for the form control.-->
        <input type="text" id="title" placeholder="Input text" formControlName="title" [ngClass]="!courseForm.controls['title'].valid && courseForm.controls['title'].touched ? 'invalid':  '' "/>
        <span id="titleErrorMessage" class="text-danger" *ngIf="!courseForm.controls['title'].valid && courseForm.controls['title']?.touched" >Title is required.</span>
      </div>
      <div class="form__control">
        <label for="description">Description</label>
        <!--Use the name `description` for the form control.-->
        <textarea
          id="description"
          name="description"
          placeholder="Input text"
          rows="4"
          cols="5"
          formControlName="description"
          [ngClass]="!courseForm.controls['description'].valid && courseForm.controls['description'].touched ? 'invalid':  '' "
        ></textarea>
        <span id="descriptionErrorMessage" class="text-danger" *ngIf="!courseForm.controls['description'].valid && courseForm.controls['description']?.touched">Description is required.</span>
      </div>
      <div class="separator"></div>
      <h3>Authors</h3>
      <div class="form__control">
        <div class="course__flex">
          <!--Use the name `author` for the form control.-->
          <input type="text" id="author" placeholder="Input Author Name" formControlName="author"/>
          <app-button id="createAuthor" [buttonText]="createAuthorText"></app-button>
        </div>
        <span id="authorErrorMessage" *ngIf="!courseForm.controls['author'].valid">New author should contain only latin letters and numbers.</span>
        <div class="course__authors">
          <!--Use the name `authors` for the form array.-->
          ::Authors::
        </div>
      </div>
      <div class="separator"></div>
      <h3>Duration</h3>
      <div class="form__control">
        <div class="course__flex">
          <!--Use the name `duration` for the form array.-->
          <input type="number" id="duration" placeholder="Input duration"  formControlName="duration" [ngClass]="!courseForm.controls['duration'].valid && courseForm.controls['duration'].touched ? 'invalid':  '' "/>
          <div class="course__duration">
            ::Duration::
          </div>
        </div>
        <span id="durationErrorMessage" class="text-danger" *ngIf="!courseForm.controls['duration'].valid && courseForm.controls['duration']?.touched">Duration is required.</span>
      </div>
      <div class="form__action">
        <app-button [buttonText]="cancelText"></app-button>
        <app-button [buttonText]="createCourseText"></app-button>
      </div>
    </div>
  </div>
</form>
